<style>
body  {
    background-image: url("images/clouds.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
</style>